@model TooSimple.Models.ViewModels.DashboardGoalsVM

<h1>Goals</h1>
<div class="row form-group">
    <div class="col-sm-6">
        <a href="~/Dashboard/AddEditGoal" title="New Goal" id="btnNewgoal" class="btn btn-primary">Add Goal</a>
    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Amount</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    @foreach (var goal in Model.Goals)
    {
        <tr>
            <td>@goal.GoalName</td>
            <td>@goal.CurrentBalance / @goal.GoalAmount</td>
            <td><a href="Dashboard/AddEditGoal?id=@goal.GoalId">Edit</a></td>
            <td><a href="Dashboard/DeleteGoal?id=@goal.GoalId">Delete</a></td>
        </tr>
    }
</table>