@model TooSimple.Poco.Models.ViewModels.DashboardFundingScheduleListVM

<h1 class="mb-4">Funding Schedules</h1>
<div class="row form-group">
    <div class="col-sm-6">
        <a href="~/Dashboard/AddEditSchedule" title="New Funding Schedule" id="btnNewSchedule" class="btn btn-primary">Add Funding Schedule</a>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    @foreach(var schedule in Model.FundingSchedules)
    {
        <tr>
            <td>@schedule.FundingScheduleName</td>
            <td><a href="~/Dashboard/AddEditSchedule?Id=@schedule.FundingScheduleId"><span class="material-icons">mode_edit</span></a></td>
            <td><a href="~/Dashboard/DeleteSchedule?Id=@schedule.FundingScheduleId"><span class="material-icons">delete</span></a></td>
        </tr>
    }
</table>