@model TooSimple.Models.ViewModels.DashboardAccountsVM
<h1 class="mb-4">Accounts</h1>
<div class="row">
    <div class="col-sm-6 mb-2">
        <button class="btn btn-primary" onclick="startLink()">Add Account</button>
    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Account Name</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    @foreach (var account in Model.Accounts)
    {
        <tr>
            <td>
                @account.NickName
            </td>
            <td>
                <a href="~/Dashboard/LoadAccount?id=@account.AccountId"><span class="material-icons">mode_edit</span></a>
            </td>
            <td>
                <a href="~/Dashboard/DeleteAccount?id=@account.AccountId"><span class="material-icons">delete</span></a>
            </td>
        </tr>
    }
</table>




<script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>

<script type="text/javascript">
const handler = Plaid.create({
    token: '@Model.LinkToken',
    onSuccess: (public_token, metadata) => {
        fetch('/Dashboard/PlaidLink', {
            method: 'POST',
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({
                public_token: public_token,
                accounts: metadata.accounts,
                institution: metadata.institution,
                link_session_id: metadata.link_session_id
            }),
        });
    },
    onLoad: () => { },
    onExit: (err, metadata) => { },
    onEvent: (eventName, metadata) => { },
    receivedRedirectUri: null,
});

function startLink() {
    handler.open();
}
</script>