@model TooSimple.Models.ViewModels.DashboardEditAccountVM

<h1 class="mb-4">@Model.NickName</h1>

<form id="editAccountForm" action="~/Dashboard/SaveAccount" method="post">
    @Html.HiddenFor(m => Model.AccountId)
    <div class="col-sm-8">

        <div class="row">
            @Html.LabelFor(m => m.NickName, "Account Nick Name", new { @class = "form-check-label" })
            @Html.TextBoxFor(m => m.NickName, new { @class = "form-control" })
        </div>

        <div class="row mt-2">
            <div class="form-group">
                <button id="btnSaveAccount" class="btn btn-primary">Save Changes</button>
            </div>
        </div>
    </div>
</form>