@model TooSimple.Poco.Models.ViewModels.DashboardVM

@if (!string.IsNullOrWhiteSpace(Model.ErrorMessage))
{
    <div class="alert alert-danger" role="alert">
        <span class="material-icons alert-icon">
            sync_problem
        </span>
        <h4 class="alert-heading">Warning</h4>
        <p id="txtErrorMessage">@Model.ErrorMessage</p>
    </div>
}

@if (Model.AccountId != null)
{
    <h2>Get started by adding an account</h2>
    <a href="~/Dashboard/Accounts">Add Account <span class="material-icons">add</span></a>
}
else
{
    <h2 class="mb-4">
        Available Balance:
        <span style="color:@Model.AmountDisplayColor">
            @Model.AmountDisplayValue
        </span>
    </h2>

    @if (!string.IsNullOrWhiteSpace(Model.LastUpdated))
    {
        <p>Last updated @Model.LastUpdated</p>
    }
}

@if (Model.NeedsUpdating)
{
    <div class="alert alert-info" role="alert" id="alertUpdating">
        <span class="material-icons alert-icon">autorenew</span>
        <h4 class="alert-heading">Refreshing your accounts</h4>
        <p>
            We are refreshing your accounts with new transactions from Plaid. You can continue to use the site normally. New transactions will appear here soon.
        </p>
        <a href="~/Dashboard/UpdateAccounts" id="urlPlaidAccountUpdate" class="hide"></a>
    </div>

    <script type="text/javascript">
        addLoadEvent(function () {
            updatePlaidAccounts()
        });
    </script>
}

@* Refresh for new data modal *@
<div class="alert alert-secondary d-none" role="alert" id="alertRefresh">
    <span class="material-icons alert-icon">restore_page</span>
    <h4 class="alert-heading" id="alertRefreshHeader">New transactions are waiting</h4>
    <p id="lblRefresh">
        We have the latest data from your accounts ready to display. Refresh the page to see it!
    </p>
</div>

@await Html.PartialAsync("~/Views/Dashboard/_TransactionTable.cshtml", Model.TransactionTableVM)