@model TooSimple.Models.ViewModels.HomeVM
<div class="text-center">
    <h1 class="display-4">Welcome to Too Simple</h1>
    <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Login">Login</a>

</div>


